body{
    width: 1440px;
    height: 3226px;
}
h2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
}
p{
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
}
a{
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
}
.btn{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

